<div class="container">
    <div class="en-tete">
        <div class="phone">
            {{- with .Site.Params.subtitle }}
                    <p class="phone">{{ . }}</p>
            {{- end }}
        </div>
        <div class="email">
            {{- with .Site.Params.subtitle }}
                <p class="email">{{ . }}</p>
            {{- end }}
        </div>
    </div>
    <header class="site-header">
        <div class="logo">
            <h1><span class="titre_bis">Ecuries</span> Johanna Rault</h1>
        </div>
    </header>
</div>
