<!--<meta charset="utf-8">
<title>{{ .Page.Title }}</title>
{{ $style := resources.Get "sass/main.scss" | css.Sass | resources.Minify | resources.Fingerprint }}
{{ $font := resources.Get "fonts/Shine-in-Valentine.ttf" }}
<link rel="preload" href="{{ $font.RelPermalink }}" as="font" type="font/ttf" crossorigin>
<link rel="stylesheet" href="{{ $style.Permalink }}">-->
<meta charset="utf-8">
<title>{{ .Page.Title }}</title>
{{ $style := resources.Get "sass/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
{{ $font1 := resources.Get "fonts/fontmaison.otf" }}
{{ $font2 := resources.Get "fonts/theglorious.otf" }}
<link rel="preload" href="{{ $font1.RelPermalink }}" as="font" type="font/otf" crossorigin>
<link rel="preload" href="{{ $font2.RelPermalink }}" as="font" type="font/otf" crossorigin>
<link rel="stylesheet" href="{{ $style.RelPermalink }}">
